:root {
  --cor-texto: #ededed;
  --cor-principal: #b546c4;
  --cor-secundaria: #65216e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background: #02101d;
  color: var(--cor-texto);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #02101d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: var(--cor-texto);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: var(--cor-principal);
}

@media (max-width: 768px) {
  .header {
    padding: 20px 5%;
  }
  .navbar a {
    font-size: 20px;
  }
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(../img/bg.avif); /*alterar bg*/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  color: var(--cor-texto);
}

.home-content {
  max-width: 600px;
  width: 100%;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: var(--cor-principal);
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.icons-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--cor-texto);
  border-radius: 50%;
  font-size: 20px;
  color: var(--cor-principal);
  text-decoration: none;
  transition: 0.5 ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.icons-sci a:hover {
  background: var(--cor-texto);
  color: var(--cor-principal);
  box-shadow: 0 0 20px #070316;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: var(--cor-secundaria);
  border-radius: 40px;
  font-size: 16px;
  color: var(--cor-texto);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.btn-box:hover {
  box-shadow: 0 0 5px var(--cor-secundaria), 0 0 25px var(--cor-secundaria),
    0 0 50px var(--cor-secundaria);
}

.homeimg {
  width: 100%;
  max-width: 400px;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1250px) {
  .home-content h1 {
    font-size: 40px;
  }
  .home-content h3 {
    font-size: 28px;
  }
  .home-content p {
    font-size: 20px;
  }
  .homeimg {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .home-content h1 {
    font-size: 30px;
  }
  .home-content h3 {
    font-size: 24px;
  }
  .home-content p {
    font-size: 18px;
  }
  .homeimg {
    display: none;
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 20px 10%;
}

.about-img img {
  margin: 10% 0 20% 5%;
  max-width: 400px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
  margin-top: 2rem;
}

.about-text h2 span {
  color: var(--cor-principal);
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 4rem;
}

@media (max-width: 992px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-img img {
    display: none;
  }
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    font-size: 40px;
  }
  .about-text h4 {
    font-size: 24px;
  }
  .about-text p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about-img img {
    display: none;
  }
}

#services {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  padding: 20px 10%;
  width: 100%;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 50px;
}

.sub-title span {
  color: var(--cor-principal);
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  gap: 40px;
  margin-top: 20px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px var(--cor-secundaria);
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
  color: var(--cor-principal);
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  margin-top: 20px;
}

.services-list div:hover {
  transform: translateY(-10px);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 10%;
  width: 100%;
}

.container1 {
  width: 600px;
  padding: 20px 90px;
  margin-bottom: 50px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  margin-top: 20px;
  font-size: 23px;
}

.technical-bars .bar {
  margin-top: 40px 0;
}

.technical-bars .bar:first-child {
  margin-bottom: 0;
}

.technical-bars .bar:last-child {
  margin-bottom: 0;
}

.technical-bars .bar .info {
  margin-bottom: 5px;
}

.technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: var(--cor-principal);
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
  width: 70%;
}
.progress-line.javascript span {
  width: 50%;
}
.progress-line.java span {
  width: 20%;
}
.progress-line.react-native span {
  width: 40%;
}
.progress-line.react span {
  width: 30%;
}
.progress-line.node span {
  width: 30%;
}
.progress-line.figma span {
  width: 60%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: var(--cor-texto);
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: '90%';
}
.progress-line.css span::after {
  content: '70%';
}
.progress-line.javascript span::after {
  content: '50%';
}
.progress-line.java span::after {
  content: '20%';
}
.progress-line.react-native span::after {
  content: '40%';
}
.progress-line.react span::after {
  content: '30%';
}
.progress-line.node span::after {
  content: '30%';
}
.progress-line.figma span::after {
  content: '60%';
}

.progress-line span::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path {
  stroke-width: 10;
  stroke: var(--cor-principal);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
.path-5 {
  animation: animate-path5 1s 1s linear forwards;
}
.path-6 {
  animation: animate-path6 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 175;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
@keyframes animate-path5 {
  100% {
    stroke-dashoffset: 150;
  }
}
@keyframes animate-path6 {
  100% {
    stroke-dashoffset: 50;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@media (max-width: 500px) {
  .sub-title {
    font-size: 40px;
  }
  .container1 {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .technical-bars .bar {
    padding: 20px;
  }
  .technical-bars .bar .info span {
    font-size: 15px;
  }
  .technical-bars .bar .progress-line span::after {
    font-size: 10px;
  }
  .radial-bar .text {
    font-size: 15px;
  }
}

.main-text {
  margin-bottom: 50px;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(395px, auto));
  gap: 15px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: white;
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: #333;
  font-size: 0.875rem;
  line-height: 1.8;
}
.layer a {
  text-decoration: none;
}

.row:hover img {
  transform: scale(1.1);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.row:hover .layer {
  height: 100%;
}

@media (max-width: 500px) {
  .main-text {
    margin-bottom: 30px;
  }
  .layer h5 {
    font-size: 18px;
  }
  .layer p {
    font-size: 14px;
    line-height: 1.4;
  }
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.contact-info {
  width: 40%;
}

.contact-info h4 {
  margin-top: 15px;
  color: var(--cor-texto);
  font-size: 20px;
  font-weight: 600;
}

.contact-info p {
  color: rgb(177, 177, 177);
  font-size: 18px;
  line-height: 30px;
}

.contact-list li {
  list-style: none;
  margin-bottom: 10px;
  display: block;
  width: 45%;
  font-size: 20px;
}

.contact-list i {
  display: inline-block;
  color: var(--cor-principal);
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
}

.contact-list li:hover,
.contact-list i:hover {
  transform: scale(1.1) translateY(-5px);
}

.contact-icons i {
  display: inline-block;

  text-align: center;
  width: 40px;
}

@media (max-width: 500px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
    margin-bottom: 25px;
  }
  .contact-list li {
    width: 100%;
    font-size: 18px;
  }
}
